<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itczh.example.mybatis.mapper.UserMapper">
    <resultMap id="userMap" type="userEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="condition.name != null and condition.name != ''">
                and name = #{condition.name}
            </if>
            <if test="condition.email != null and condition.email != ''">
                and email like concat('%', #{condition.email}, '%')
            </if>
        </where>
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user (id, name, email) VALUES (#{id}, #{name}, #{email})
    </insert>

    <update id="update" parameterType="userEntity">
        UPDATE user SET name = #{name}, email = #{email} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM user where id = #{id}
    </delete>

    <select id="selectById" resultMap="userMap">
        SELECT id, name, email FROM user WHERE id = #{id}
    </select>

    <select id="selectList" resultMap="userMap">
        SELECT id, name, email FROM user <include refid="whereSql"/>
    </select>
</mapper>